* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* ===== Navbar ===== */
.navbar {
    background: #222;
    padding: 15px 0;
    position: sticky;
    top: 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar ul li a:hover {
    color: #00adb5;
}

/* ===== Sections ===== */
.section {
    padding: 60px 20px;
    text-align: center;
}

.home {
    background: #00adb5;
    color: white;
    height: 100vh;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.project {
    background: #eee;
    padding: 30px;
    width: 150px;
    border-radius: 10px;
}
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 4px solid white;
}
